__pycache__/
.DS_Store
gcn_utils.py
simulator.py
CLAUDE.md
run_federated.slurm

# ignore checkpoints folder as created by the server
/checkpoints

# ignore checkpoints 
checkpoints/

# ignore server logs
logs/

# ignore unused data files
data/*

# re-add directories under data/
!data/fed_partition_aware_splits/
!data/fed_partition_aware_splits_without_cross_edges/
!data/fed_partition_aware_splits_with_cross_edges/
!data/fed_partition_aware_splits_without_cross_edges_local_labels/
!data/fed_partition_aware_splits_with_cross_edges_local_labels/
!data/fed_louvain_splits_with_cross_edges/
!data/fed_louvain_splits_without_cross_edges/
!data/fed_metis_splits_with_cross_edges/
!data/fed_metis_splits_without_cross_edges/
!data/seeds/
!data/train.pt
!data/test.pt
!data/val.pt
!data/y_sums.csv